.myheader{
    height: 70px;
    box-sizing: border-box;
    background: #242424;
    border-bottom: 1px solid #000;
    .logo{
        height: 40px;
        width: 177px;
        img{
            height: 100%;
        }

    }

}